<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iNet</title>
    <link rel="stylesheet" type="text/css" href="{% static "administracion/css/bulma.min.css" %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% block cabecera %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="http://localhost:8000/administracion/">
          <span class="tag is-success is-large">iNet</span>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <span class="navbar-item">
              <a class="button is-info is-inverted" href="https://www.gitlab.com/">
                <span class="icon">
                  <i class="fab fa-gitlab"></i>
                </span>
                <span>luisfi</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-info is-inverted" href="http://localhost:8000/administracion/clientes">
                <span class="icon">
                  <i class="fas fa-users"></i>
                </span>
                <span>Clientes</span>
              </a>
            </span>

            <span class="navbar-item">
              <a class="button is-info is-inverted" href="http://localhost:8000/administracion/servicios">
                <span class="icon">
                  <i class="fas fa-phone"></i>
                </span>
                <span>Servicios</span>
              </a>
            </span>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Catalogos
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Estados
                </a>
                <a class="navbar-item">
                  Municipios
                </a>
                <a class="navbar-item">
                  Canales
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Paquetes
                </a>
              </div>
            </div>

          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="http://localhost:8000/administracion/contratar">
                <strong>Contratar</strong>
              </a>
              <a class="button is-light" href="http://localhost:8000/admin">
                Administrador
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% block cuerpo %}
    {% endblock %}

  </body>
</html>
