{% extends "administracion/base.html" %}

{% block cuerpo %}
{% if clientes %}
    <ul>
    {% for c in clientes %}
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{ c.nombre }} {{ c.apellido_materno }}</strong> <small>{{ c.cliente_id }}</small>
                  <div class="content">
                    <ol type="1">
                      <li>{{ c.rfc }}</li>
                      <li>{{ c.curp}}</li>
                    </ol>
                  </div>
                </p>
              </div>
            </div>
          </article>
        </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
