{% extends "administracion/base.html" %}

{% block cuerpo %}

<div class="container">
  <div class="notification">
    <form action="{% url 'registrar' %}" method="post">
      {% csrf_token %}
    <div class="field">
      <label class="label">Nombre</label>
      <div class="control">
        <input class="input" name="nombre" type="text" placeholder="Ingresa tu nombre">
      </div>
    </div>
    <div class="field">
      <label class="label">Apellido Paterno</label>
      <div class="control">
        <input class="input" name="ap_paterno" type="text" placeholder="Ingresa tu nombre">
      </div>
    </div>
    <div class="field">
      <label class="label">Apellido Materno</label>
      <div class="control">
        <input class="input" name="ap_materno" type="text" placeholder="Ingresa tu nombre">
      </div>
    </div>
    <div class="field">
      <label class="label">RFC</label>
      <div class="control">
        <input class="input" name="rfc" type="text" placeholder="Ingresa tu nombre">
      </div>
    </div>
    <div class="field">
      <label class="label">CURP</label>
      <div class="control">
        <input class="input" name="curp" type="text" placeholder="Ingresa tu nombre">
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <input type="submit" class="button is-link" value='Registrar'>
      </div>
    </div>
</form>
  </div>
</div>
{% endblock %}
