{% extends "administracion/base.html" %}

{% block cuerpo %}
<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        ¡Contrata ya!
      </p>
    </div>
  </div>
</section>
{% endblock %}
