{% extends "administracion/base.html" %}

{% block cuerpo %}
<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
          Registrado Correctamente
      </h1>
      <h2 class="subtitle">
        ¡Gracias!
      </h2>
    </div>
  </div>
</section>
{% endblock %}
