{% extends "administracion/base.html" %}

{% block cuerpo %}
{% if servicios %}
    <ul>
    {% for s in servicios %}
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Número de cuenta: {{ s.numero_cuenta }}</strong> <small>ID: {{ s.servicio_id }}</small>
                  <div class="content">
                    <ol type="1">
                      <li>Tarifa mensual: {{s.tarifa_mensual }}</li>
                      <li>Forma de pago: {{s.forma_pago }}</li>
                      <li>Fecha de corte: {{ s.fecha_corte }}</li>
                      <li>Fecha de instalacion: {{ s.fecha_instalacion }}</li>
                      <li>Fecha de estatus: {{ s.fecha_estatus }}</li>
                    </ol>
                  </div>
                </p>
              </div>
            </div>
          </article>
        </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
